* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #D8DAD9;
  color: #352F31;
  font-family: "Noto Sans JP", sans-serif;
  font-family:"ヒラギノ明朝 ProN","Hiragino Mincho Pro";
}
.header{
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__inner{
  position: absolute;
  display: flex;
  z-index: 100;
  padding: 10px 20px;
  justify-content: space-between;
  right: 0;
  left: 0;
  background-color: rgba(83,81,69,0.8);
}

.fadein {
  opacity : 0;
  transform : translate(0, 100px);
  transition : all 1s;
}
 
.fadein.active{
  opacity : 1;
  transform : translate(0, 0);
}

.header__nav-logo{
  text-decoration:none;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
.header__nav-logo-img{
  width: 50px;
  vertical-align:middle;
  padding-right: 16px;
}
.header__nav{
  right: 0;
}
.mail__img{
  width: 16px;
  height: auto;
  vertical-align: middle;
  padding-right: 5px;
}
.header__nav-list{
  list-style:none;
  display: flex;
}
.header__nav-item{
  padding: 12px 15px;
}
.container__list-text{
  text-decoration:none;
  color: #ffffff;
}
.common-button{
  background-color: #CB1A1F;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.common-button__text {
  text-decoration:none;
  color: #ffffff;
}
.common-button.common-button--large {
  width: 300px;
  height: 50px;
  margin: 50px auto;

}
.common-button.common-button--medium {
  width: 180px;
  height: 40px;
  margin: auto;
}
.common-button.common-button--small {
  width: 160px;
  height: 40px;
  margin: 0;
}

.nav__area{
  display: none;
}



.container__inner{
  position: relative;
}
.main-img ,.container__img{
  max-width: 100%;
  width: 100%;
  height: auto;
  z-index: 10;
}
.header-logo ,.container-logo{
  position: absolute;
  width: 100%;
  height: fit-content;
  text-align: center;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 30;
}
.container-logo__img{
  width: 96px;
  max-width: 100%;
  vertical-align:middle;
  padding-right: 16px;
}
.container-logo__company-name{
  color: #ffffff;
  font-size: 60px;
  text-decoration:none;
  font-weight: bold;
}


#commitment{
  width: 850px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 150px;
}
.intro__title{
  text-align: center;
  font-size: 36px;
  padding-bottom: 75px;
}
.intro__list{
  display: flex;
  justify-content: space-between;
}
.intro__list-item{
  list-style:none;
}
.intro__img{
  max-width: 100%;
  width: 250px;
  height: 250px;
}
.intro__list-title{
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 72px;
  padding: 16px 0;
}
.intro__text{
  max-width: 100%;
  width: 250px;
}


#menu{
  background-color: #535145;
  margin: 150px 0;
  padding: 150px 0;
}
.menu__inner{
  width: 850px;
  max-width: 100%;
  margin: 0 auto;
}
.menu__title{
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 30px;
}
.menu__list{
  display: flex;
  justify-content: space-between;
}
.menu__list-item{
  list-style: none;
}
.menu__img{
  width: 190px;
  height: 190px;
}
.menu__text{
  text-align: center;
  color: #ffffff;
  padding-top: 16px;
}
.menu__button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #535145;
  width: 190px;
  height: 50px;
  text-decoration:none;
  margin: 30px 0 50px auto;
}
.heckler__img{
  width: 37px;
  height: auto;
  vertical-align:middle;
  padding-left: 15px;
}




#information{
  width: 850px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 150px;
}
.information{
  display: flex;
  justify-content: space-between;
}
.information__inner{
  width: 360px;
}
.information__title{
  font-size: 36px;
}
.information__text{
  font-weight: bold;
  font-size: 24px;
  padding-top: 25px;
}
.information__th{
  text-align: left;
  padding-right: 48px;
  padding-top: 16px;
}
.information__td{
  text-align: left;
  padding-top: 16px;
}
.tel__img{
  width: 16px;
  height: auto;
  vertical-align: middle;
  padding-right: 5px;
}
.information__button{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 30px;
}






#footer{
  background-color: #372D35;
}
.footer{
  width: 850px;
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.footer-logo{
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-decoration:none;
  display: flex;
  align-items: center;
}
.footer-logo__img{
  width: 50px;
  padding-right: 16px;
}
.footer__th{
  color: #ffffff;
  padding-right: 48px;
  padding-top: 16px;
}
.footer__td{
  color: #ffffff;
  padding-top: 16px;
}
.footer__text{
  color: #ffffff;
  padding-top: 16px;
}
.copyright{
  color: #ffffff;
  text-align: center;
}


.footer__nav-list{
  list-style:none;
}
.footer__nav-item{
  padding: 12px 15px;
}
.footer__list-text{
  font-weight: bold;
  text-decoration:none;
  color: #ffffff;
}





/*店内メニュー*/
.container-inside__title{
  font-size: 56px;
  color: #ffffff;
}
.container-inside__subtitle{
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}



#reserve{
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reserve__title{
  font-size: 48px;
  text-align: center;
  padding-bottom: 50px;
}
.reserve__main{
  max-width: 100%;
  width: 950px;
  height: 450px;
  position: relative;
  margin-bottom: 100px;
}
.reserve__main-img{
  max-width: 100%;
  width: 430px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
.reserve__list{
  max-width: 100%;
  width: 590px;
  height: 370px;
  background-color: #535145;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.reserve__list-title{
  font-size: 32px;
  font-weight: bold;
  padding: 50px 0 30px 130px;
  color: #ffffff;
}
.reserve__table{
  padding-bottom: 30px;
  padding-left: 130px;
}
.reserve__th{
  text-align: left;
  padding-right: 16px;
  font-weight: normal;
  color: #ffffff;
}
.reserve__td{
  color: #ffffff;
}
.reserve__text{
  padding-left: 130px;
  color: #ffffff;
}




#diner{
  max-width: 100%;
  width: 950px;
  margin: 0 auto;
}
.diner__title{
  font-size: 48px;
  text-align: center;
}
.diner__list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 50px 0;
}
.diner__list-item{
  position: relative;
}
.diner__img{
  width: 304px;
  height: 204px;
}
.diner__list-text{
  width: 304px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(252,252,252,0.6);
  position: absolute;
  bottom: 5px;
  z-index: 20;
}
.diner__text{
  font-weight: bold;
  padding: 12px 0;
  font-family: "Noto Sans JP", sans-serif;
}
.diner__price{
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}


.diner-other__inner{
  background-color: #535145;
  color: #ffffff;
  padding: 50px 0;
  position: relative;
  max-width: 100%;
}
.diner-other__inner:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  background: #535145;
  z-index: -1;
}
.diner-other__list{
  display: flex;
  justify-content: space-between;
}
.diner-other__list-item{
  list-style: none;
}
.diner-other__title{
  font-size: 32px;
  text-align: center;
  padding-bottom: 16px;
}
.diner-other__th{
  text-align: left;
  padding-right: 48px;
  font-weight: normal;
}
.diner-other__td{
  text-align: right;
}
.diner-other__inner-other{
  padding: 50px 0;
}
.diner-other__table-other{
  margin: auto;
  padding-bottom: 50px;
}







/*仕出し*/
.container-catered__title{
  font-size: 56px;
  color: #ffffff;
}
.container-catered__subtitle{
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}



#appetizer{
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appetizer__title{
  font-size: 48px;
  text-align: center;
  padding-bottom: 50px;
}
.appetizer__main{
  max-width: 100%;
  width: 950px;
  height: 450px;
  position: relative;
  margin-bottom: 100px;
}
.appetizer__main-img{
  width: 430px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
.appetizer__list{
  width: 590px;
  height: 370px;
  background-color: #535145;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.appetizer__list-title1{
  font-size: 32px;
  font-weight: bold;
  padding: 75px 0 30px 130px;
  color: #ffffff;
}
.appetizer__table{
  padding-bottom: 30px;
  padding-left: 130px;
}
.appetizer__th{
  text-align: left;
  padding-right: 16px;
  font-weight: normal;
  color: #ffffff;
}
.appetizer__td{
  color: #ffffff;
}
.appetizer__list-title2{
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0 20px 130px;
  color: #ffffff;
}


#bento{
  max-width: 100%;
  width: 950px;
  margin: 0 auto;
}
.bento__title{
  font-size: 48px;
  text-align: center;
}
.bento__list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 50px 0;
}
.bento__list-item{
  position: relative;
}
.bento__img{
  width: 304px;
  height: 254px;
}
.bento__list-text{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(252,252,252,0.6);
  position: absolute;
  bottom: 5px;
  z-index: 20;
}
.bento__text{
  font-weight: bold;
  padding: 12px 0;
  font-family: "Noto Sans JP", sans-serif;
}
.bento__price{
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}


.bento-other__inner{
  background-color: #535145;
  color: #ffffff;
  padding: 50px 0;
  position: relative;
  max-width: 100%;
}
.bento-other__inner:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  background: #535145;
  z-index: -1;
}

.bento-other__list{
  display: flex;
  justify-content: space-between;
}
.bento-other__list-item{
  list-style: none;
}
.bento-other__title{
  font-size: 32px;
  text-align: center;
  padding-bottom: 15px;
}
.bento-other__th{
  text-align: left;
  padding-right: 16px;
  font-weight: normal;
}
.bento-other__td{
  text-align: right;
}
.bento-other__button{
  display: flex;
  padding: 100px 0;
}




/* お問い合わせ */
.header__contact{
  background-color: #535145;
}
#contact{
  padding: 150px 0;
}
.form__title{
  text-align: center;
  padding-bottom: 50px;
}
.contact__form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
.form__item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.form__item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.form__item-label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.form__item-label.ismsg {
  margin-top: 8px;
  margin-bottom: auto;
}
.form__item-label-required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #CB1A1F;
  color: #fff;
  font-size: 14px;
}
.label__color{
  background: #26a64b;
}
.form__item-input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
.form__item-textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
.form-btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #CB1A1F;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
@media screen and (max-width: 800px) {
  .header__inner{
    display: none;
  }


  .nav__area {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(83,81,69,0.8);
  }
  .nav__area-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .nav__area-logo {
    font-weight: 700;
    padding-left: 14px;
  }
  .nav__area-logo-img{
    width: 40px;
    vertical-align:middle;
    padding-right: 16px;
  }
  .hamburger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 0;
    cursor: pointer;
  }
  .hamburger-menu__bar {
    display: inline-block;
    width: 44%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
    z-index: 100;
  }
  .hamburger-menu__bar:first-child {
    top: 16px;
  }
  .hamburger-menu__bar:nth-child(2) {
    top: 24px;
  }
  .hamburger-menu__bar:last-child {
    top: 32px;
  }
  .hamburger-menu--open .hamburger-menu__bar {
    top: 50%;
  }
  .hamburger-menu--open .hamburger-menu__bar:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
    display: none;
  }
  .navigation {
    display: none;
    background: #535145;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 9999;
    padding: 30px;
  }
  .navigation__list {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navigation__link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    transition: .5s;
  }
  .navigation__link-text{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 0;
    transition: .5s;
  }







  .intro__list{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 250px;
    max-width: 100%;
  }
  .intro__list-item{
    padding-bottom: 100px;
  }
  .intro__list-title{
    padding: 8px 0;
  }


  .menu__list{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  

  .information{
    display: block;
  }
  .information__inner{
    margin: auto;
  }
  .information__map{
    text-align: center;
    padding: 100px 0;
  }


  .footer__inner{
    padding: 0 50px;
  }
  .footer__nav{
    padding-right: 50px;
  }




  /*店内メニュー*/
  .reserve__main , .reserve__main-img ,.reserve__list{
    position: static;
  }
  .reserve__main {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .reserve__main-img{
    display: block;
    margin: 0 auto;
  }
  .reserve__list{
    margin: 0 auto;
  }


  .diner__list{
    display: block;
    text-align: center;
  }
  .diner__list-item{
    width: 304px;
    max-width: 100%;
    margin: auto;
    padding-top: 30px;
  }

  .diner-other__inner{
    width: 100%;
    margin: auto;
  }
  .diner-other__inner:before {
    margin: 0 auto;
  }
  .diner-other__list{
    display: block;
    margin: auto;
  }
  .diner-other__table{
    margin: auto;
    padding-bottom: 50px;
  }


    /*仕出しメニュー*/
    .appetizer__main , .appetizer__main-img ,.appetizer__list{
      position: static;
    }
    .appetizer__main {
      height: auto;
      width: 100%;
      max-width: 100%;
    }
    .appetizer__main-img{
      display: block;
      margin: 0 auto;
    }
    .appetizer__list{
      margin: 0 auto;
    }
  
  
    .bento__list{
      display: block;
      text-align: center;
    }
    .bento__list-item{
      width: 304px;
      max-width: 100%;
      margin: auto;
      padding-top: 30px;
    }
  
    .bento-other__inner{
      width: 100%;
      max-width: 100%;
      margin: auto;
    }
    .bento-other__inner:before {
      margin: 0 auto;
    }
    .bento-other__list{
      display: block;
      margin: auto;
    }
    .bento-other__table{
      margin: auto;
      padding-bottom: 50px;
    }

    .bento-other__button{
      display: block;
      padding: 100px 0;
    }
    



  /*お問い合わせ*/
  .Form {
    margin-top: 40px;
  }
  .form__item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    max-width: 410px;
    margin: auto;
  }
  .form__item-label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  .form__item-label.ismsg {
    margin-top: 0;
  }
  .form__item-label-required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
  .form__item-input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
  .form__item-textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
  .form-btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}